.input-box-wrapper {
  width: 316px;
  border-radius: 10px;
}

.input-box {
  height: 100px;
  width: 100px;
}

.input-box:hover {
  /* border-radius: 10px; */
  box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.08);
}

.-one {
  border-radius: 0px 0px 10px 0px;
}



.-two {
  border-radius: 0px 0px 10px 10px;
}

.-three {
  border-radius: 0px 0px 0px 10px;
}

.-four {
  border-radius: 0px 10px 10px 0px;
}

.-five {
  border-radius: 10px;
}

.-six {
  border-radius: 10px 0px 0px 10px;
}

.-seven {
  border-radius: 0px 10px 0px 0px;
}

.-eight {
  border-radius: 10px 10px 0px 0px;
}

.-nine {
  border-radius: 10px 0px 0px 0px;
}