@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans-ms/comici.ttf");
}

.input-box-wrapper {
  padding-top: 4px !important;
  width: 316px;
  height: 316px !important;
  color: rgb(255, 255, 255);
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  border-radius: 10px;
  font-size: 63px;
  text-align: center;
}

.input-box {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.input-box:hover {
  box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
}